## backups
*~
*#
*.orig

## local adjustments and not tracked settings
.petalinux-sys.env
*.run

## ignore output folder
workspace
resources

## docker base image
docker-base

## docker environment
.env
